<nav>
  <a href="/" class="logo-container">
    <div>Hacker's</div>
    <span>Depot
      <app-blinking-character style="font-size: 30px" [charList]="['▮', '']" [delay]="700"></app-blinking-character>
    </span>
  </a>
  <span class="menu-container">
      <span><a routerLink="home">Home</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="products">Products</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="signup">SignUp</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="login">Login</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="contact">Contact</a></span>
  </span>
</nav>
