<nav>
  <a routerLink="/" class="logo-container">
    <div>Hacker's</div>
    <span>Depot
      <app-blinking-character style="font-size: 30px" [charList]="['▮', '']" [delay]="700"></app-blinking-character>
    </span>
  </a>
  <span class="menu-container">
      <span *ngIf="widthLessThan(1025)" class="vertical-divider"></span>
      <span><a routerLink="home" [routerLinkActive]="['active']">Home</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="products" [routerLinkActive]="['active']">Products</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="signup" [routerLinkActive]="['active']">SignUp</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="login" [routerLinkActive]="['active']">Login</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="contact" [routerLinkActive]="['active']">Contact</a></span>
      <span class="vertical-divider"></span>
      <span><a (click)="switchThemes(false)">Theme</a></span>
      <span class="vertical-divider"></span>
      <span><a routerLink="cart" [routerLinkActive]="['active']"><app-shoppingcart></app-shoppingcart></a></span>
  </span>
</nav>
