<nav>
  <a href="/" class="logo-container">
    <div>Hacker's</div>
    <span>Depot
      <app-blinking-character style="font-size: 30px" [charList]="['▮', '']" [delay]="700"></app-blinking-character>
    </span>
  </a>
  <span class="menu-container">
      <span><a href="#">Home</a></span>
      <span class="vertical-divider"></span>
      <span><a href="#">Products</a></span>
      <span class="vertical-divider"></span>
      <span><a href="#">SignUp</a></span>
      <span class="vertical-divider"></span>
      <span><a href="#">Login</a></span>
      <span class="vertical-divider"></span>
      <span><a href="#">Contact</a></span>
  </span>
</nav>
