/* GLOBAL */
body {
  margin: 0 auto 0 auto;
  background-color: #020502;
  color: rgb(246, 255, 241);
  font-family: Hack, sans-serif;
  font-size: 19px;
  max-width: 1024px;
  transition: 200ms;
}

*::selection {
    color: black;
    background: white;
}

p {
  line-height: 140%;
}

/* LINKS */
a {
  color: #65E868;
  text-decoration: none;
}

a:hover {
  color: #65E868;
  text-decoration: underline;
}

/* NAVBAR */
nav {
  margin-top: 48px;
  position: relative;
  border-bottom: 1px solid white;
}

nav > img {
  right: 100px;
}

nav > span.menu-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 200px;
}

nav > span.menu-container > span {
  padding: 0 5px 0 5px;
}

nav > span.menu-container > span > a {
  color: white;
}

nav > span.menu-container > span > a.active {
  color: #2DC7C7;
  text-decoration: underline;
}

nav > span.menu-container > span > a:hover {
  color: #65E868;
}

nav > a.logo-container {
  display: inline;
  color: #F6FFF1;
  text-decoration: none;
  font-size: 33px;
  font-family: sans-serif;
  word-wrap: break-word;
  padding: 0;
  font-weight: bolder;
}

/* FOOTER */
footer {
  border-top: 1px solid white;
  margin: 16px 0 48px 0;
}

footer > span.trademark > span {
  padding: 0 5px 0 5px;
}

footer > span.trademark > span:nth-child(1) {
  padding: 0 5px 0 0;
}

footer > span.made-with-love {
  float: right;
}

footer > span.trademark {
  float: left;
}

/* PRODUCTS */
div.product {
  width: 60%;
  margin: 15px auto 15px auto;
}

div.product > h2 {
  color: #65E868;
}

div.product > .img-container {
  position: relative;
}

div.product > .img-container > img {
  max-width: 100%;
}

div.product > .img-container > span.price {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 44px;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: black 2px 2px 2px;
  color: #2DC7C7;
}

div.product-video {
  width: 90%;
  max-width: 854px;
  margin: auto;
}

div.product-video > iframe.product-video {
  width: 100%;
}

div.product > a.cart {
  cursor: pointer;
  user-select: none;
  font-size: 300%;
}

div.product > a.cart.add {
  color: #2DC7C7;
  float: right;
}

div.product > a.cart.remove {
  color: #ed2b1f;
}

/* HOME */
div.home > .welcome-message, .home-content {
  width: 80%;
  margin: 15px auto 60px auto;
}

/* FORMS */
form {
  width: 100%;
}

form > .form-group {
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
}

form > .form-group > input {
  font-size: 20px;
  width: 100%;
  margin: 8px 0 0 0;
  background-color: transparent;
  color: #F6FFF1;
  border: solid white;
  border-width: 0 0 1px 0;
  outline: none;
}

form > .form-group > textarea {
  font-size: 20px;
  width: 362px;
  margin: 8px 0 0 0;
  background-color: transparent;
  color: #F6FFF1;
  border: 1px solid white;
  outline: none;
  resize: none;
}

form > .form-group > label {
  font-size: 25px;
  margin-bottom: 100px;
  font-weight: bold;
}

form > .form-group > button.submit {
  font-size: 25px;
  background: none;
}


form > .form-group > button.submit {
  outline: none;
  background-color: transparent;
  color: #2DC7C7;
  cursor: pointer;
  border: solid white 1px;
  font-weight: bold;
  float: right;
}

form > .form-group > button.submit:hover {
  text-decoration: underline;
}

form > .form-group > button[disabled] {
  color: grey;
}

form > .form-group > .error-message{
  color: #FF2B2B;
  font-size: 16px;
}

.form-group.has-error > input {
  border: solid #FF2B2B;
  border-width: 0 0 1px 0;
}

.form-group.has-error > textarea {
  border: 1px solid #FF2B2B;
}

/* LOGIN */
div.form-container {
  max-width: 368px;
  width: 100%;

  margin: 32px auto 32px auto;
}

/* CUSTOM UTILS CLASSES */
.vertical-divider {
  border-left: 1px solid white;
}

.active {
  color: #2DC7C7;
}

.warn {
  color: #eeca40 !important;
}

/* DARK THEME */

/* GLOBAL */
body.light {
  background-color: #eaf1ea;
  color: rgb(7, 9, 7);
}

.light *::selection {
  color: white;
  background: black;
}

/* LINKS */
.light * > a {
  color: #285a28;
  text-decoration: none;
}

.light * > a:hover {
  color: #4cae4d;
  text-decoration: underline;
}

/* NAVBAR */
.light * > nav {
  border-bottom: 1px solid black;
}

.light * > nav > span.menu-container > span > a {
  color: black;
}

.light * > nav > span.menu-container > span > a.active {
  color: #24a0a0;
  text-decoration: underline;
}

.light * > nav > span.menu-container > span > a:hover {
  color: #357d35;
}

.light * > nav > a.logo-container {
  color: #060906;
  text-decoration: none;
}

/* FOOTER */
.light * > footer {
  border-top: 1px solid black;
}

/* PRODUCTS */
.light * > div.product > h2 {
  color: #376f37;
}

.light * > div.product > a.cart.add {
  color: #259191;
}

/* FORMS */
.light * > form > .form-group > input {
  background-color: transparent;
  color: #040504;
  border: solid #040404;
  border-width: 0 0 1px 0;
  outline: none;
}

.light * > form > .form-group > textarea {
  background-color: transparent;
  color: #060606;
  border: 1px solid #050505;
  outline: none;
  resize: none;
}

.light * > form > .form-group > button.submit {
  outline: none;
  background-color: transparent;
  color: #1d7a7a;
  cursor: pointer;
  border: solid #000000 1px;
  font-weight: bold;
  float: right;
}

.light * > form > .form-group > button[disabled] {
  color: #383838;
}

.light * > form > .form-group > .error-message{
  color: #FF2B2B;
  font-size: 16px;
}

.light * > .form-group.has-error > input {
  border: solid #FF2B2B;
  border-width: 0 0 1px 0;
}

.light * > .form-group.has-error > textarea {
  border: 1px solid #FF2B2B;
}

/* CUSTOM UTILS CLASSES */
.light * > .vertical-divider {
  border-left: 1px solid black;
}

.light * > .active {
  color: #196666;
}

.light * > .warn {
  color: #d1b038 !important;
}

.light * > hr {
  border-color: black;
  border-width: 0.5px;
}
