<div class="home">
  <div class="welcome-message">
    <h2>Hello there fellow Hacker!</h2>
    <p>
      Welcome to <a href="/">Hacker's Depot</a>! A place where you can buy <b class="active">oldschool computers, videogames, televisions</b> and much more!
    </p>
  </div>
  <app-product [product]="homeProduct"></app-product>
  <div class="home-content">
    <h1>Questions</h1>
    <h2 class="warn">Why should I buy an oldschool device that is worst than my Cell Phone?</h2>
    <p>
      Well, because they have made history, we bet that your new shiny Iphone doesn't have that the 70's
      smell that our devices have. Imagine how many people interacted with it and how it changed the
      tecnology at that time.
    </p>
    <p>
      Computer science is old, <i>very old</i>, so we created the Hacker's Depot to sell history to people like you.
    </p>
  </div>
</div>

